<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-11-21T20:07:40Z</date>
	<key>WorkspacePath</key>
	<string>/Volumes/STORAGE/SITES-2025/YouTubePlayerFresh/YouTubePlayer.xcodeproj</string>
</dict>
</plist>
